* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  color: black;
  background-image: url("https://i.pinimg.com/originals/1b/55/e4/1b55e4bdb4fc6051382e370bf26d5a59.jpg?fbclid=IwAR3bs2O_chPzCFMTNAqifMIdx9v0QhREyqPtVsxC6mj5Mdw_jl2jUw-6_UY");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

@media (min-width: 1440px) {
  .header {
    color: white;
    font: italic small-caps bold 120px/80px Georgia, serif;
  }

  .find {
    color: white;
    font: italic small-caps bold 50px/20px Georgia, serif;
    margin-bottom: 50px;
  }

  .word {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .letter {
    border-bottom: 3px solid #2980b9;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
    color: red;
  }

  .wrong-letters-container p {
    margin: 0 0 5px;
    color: red;
  }

  .popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  img {
    width: 100%;
  }

  #bar {
    left: 0;
    top: 0;
    position: absolute;
    width: 25%;
    height: 20px;
    z-index: 0;
  }

  #barsmall {
    left: 22.9%;
    top: 10px;
    position: absolute;
    width: 18px;
    height: 79px;
    z-index: 4;
  }

  #head {
    left: 20.2%;
    top: 50px;
    position: absolute;
    width: 8%;
    z-index: 30;
  }

  #neck {
    left: 22.9%;
    top: 109px;
    position: absolute;
    width: 22px;
    height: 71px;
    z-index: -1;
  }

  #corpus {
    left: 20.8%;
    top: 132px;
    position: absolute;
    width: 60px;
    z-index: 23;
  }

  #righthand {
    left: 32%;
    top: 179px;
    position: absolute;
    width: 21px;
    z-index: 24;
  }

  #lefthand {
    left: 15%;
    top: 177px;
    position: absolute;
    width: 21px;
    height: 32px;
  }

  #rightfoot {
    left: 17%;
    top: 294px;
    position: absolute;
    width: 40px;
    z-index: 26;
  }

  #leftfoot {
    left: 27%;
    top: 294px;
    position: absolute;
    width: 40px;
    z-index: 26;
  }

  #rightleg {
    left: 25%;
    top: 216px;
    position: absolute;
    width: 41px;
    height: 183px;
    z-index: 28;
  }

  #rightarm {
    left: 25.7%;
    top: 134px;
    position: absolute;
    width: 71px;
    height: 126px;
    z-index: 30;
  }

  #leftarm {
    left: 15.7%;
    top: 132px;
    position: absolute;
    width: 60px;
    height: 126px;
    z-index: 30;
  }

  #leftleg {
    left: 18.8%;
    top: 217px;
    position: absolute;
    width: 41px;
    height: 182px;
    z-index: 31;
  }

  .testFigure {
    height: 62vh;
    position: relative;
    width: 800px;
  }
}
@media (min-width: 1025px) and (max-width: 1439px) {
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  .testFigure {
    height: 62vh;
    position: relative;
    width: 600px;
  }

  #bar {
    left: 0;
    top: 0;
    position: absolute;
    width: 25%;
    height: 20px;
    z-index: 0;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .responsive {
    width: 100%;
  }

  .testFigure {
    height: 62vh;
    position: relative;
    width: 400px;
  }

  #bar {
    left: 0;
    top: 20px;
    position: absolute;
    width: 30%;
    z-index: 0;
  }

  #barsmall {
    left: 27.4%;
    top: 31px;
    position: absolute;
    width: 9px;
    z-index: 4;
  }

  #head {
    left: 23.2%;
    top: 50px;
    position: absolute;
    width: 11%;
    z-index: 30;
  }

  #neck {
    left: 26.9%;
    top: 81px;
    position: absolute;
    width: 12px;
    height: 71px;
    z-index: -1;
  }

  #corpus {
    left: 24.9%;
    top: 97px;
    position: absolute;
    width: 25px;
    z-index: 23;
  }

  #righthand {
    left: 35.5%;
    top: 117px;
    position: absolute;
    width: 12px;
    z-index: 29;
  }

  #lefthand {
    left: 18.8%;
    top: 118px;
    position: absolute;
    width: 12px;
    height: 32px;
  }

  #rightfoot {
    left: 19%;
    top: 160px;
    position: absolute;
    width: 20px;
    z-index: 26;
  }

  #leftfoot {
    left: 32%;
    top: 160px;
    position: absolute;
    width: 20px;
    z-index: 26;
  }

  #rightleg {
    left: 29%;
    top: 131px;
    position: absolute;
    width: 18px;
    height: 183px;
    z-index: 28;
  }

  #rightarm {
    left: 29.7%;
    top: 97px;
    position: absolute;
    width: 30px;
    height: 126px;
    z-index: 30;
  }

  #leftarm {
    left: 19.7%;
    top: 98px;
    position: absolute;
    width: 30px;
    height: 126px;
    z-index: 30;
  }

  #leftleg {
    left: 22.8%;
    top: 132px;
    position: absolute;
    width: 18px;
    z-index: 31;
  }

  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
}
@media (min-width: 481px) and (max-width: 767px) {
  .responsive {
    width: 100%;
  }

  .testFigure {
    height: 62vh;
    position: relative;
    width: 700px;
  }

  #bar {
    left: -1px;
    top: 20px;
    position: absolute;
    width: 20%;
    z-index: 0;
  }

  #barsmall {
    left: 129px;
    top: 31px;
    position: absolute;
    width: 9px;
    z-index: 4;
  }

  #head {
    left: 15.2%;
    top: 50px;
    position: absolute;
    width: 8%;
    z-index: 30;
  }

  #neck {
    left: 18.9%;
    top: 109px;
    position: absolute;
    width: 10px;
    height: 71px;
  }

  #corpus {
    left: 17.9%;
    top: 122px;
    position: absolute;
    width: 27px;
    z-index: 23;
  }

  #righthand {
    left: 24.5%;
    top: 142px;
    position: absolute;
    width: 11px;
    z-index: 29;
  }

  #lefthand {
    left: 13.8%;
    top: 142px;
    position: absolute;
    width: 12px;
    height: 32px;
  }

  #rightfoot {
    left: 15%;
    top: 195px;
    position: absolute;
    width: 20px;
    z-index: 26;
  }

  #leftfoot {
    left: 22%;
    top: 190px;
    position: absolute;
    width: 20px;
    z-index: 26;
  }

  #rightleg {
    left: 20%;
    top: 157px;
    position: absolute;
    width: 20px;
    height: 183px;
    z-index: 28;
  }

  #rightarm {
    left: 20.7%;
    top: 123px;
    position: absolute;
    width: 30px;
    height: 126px;
    z-index: 30;
  }

  #leftarm {
    left: 14.7%;
    top: 123px;
    position: absolute;
    width: 30px;
    height: 124px;
    z-index: 30;
  }

  #leftleg {
    left: 117px;
    top: 162px;
    position: absolute;
    width: 20px;
    z-index: 31;
  }
}/*# sourceMappingURL=style.css.map */